{
  "extends": "eslint-config-egg",
  "rules": {
    "strict": 0,
    "linebreak-style": "off",
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "none",
        "caughtErrors": "none"
      }
    ]
  }
}
