body {
    background: #e9eaeb;
}
.wrap {
    padding-left:10px;
    padding-right:10px;
    max-width:1280px;
    margin:20px auto 0;
    background-color: #FFF;
    border-radius: 4px;
    min-height: 592px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

a, a:hover {
    color: #0C4C7F;
}

a:hover {
    text-decoration: underline;
}

.header-title {
    font-size:24px;
    line-height: 60px;
    border-bottom: 1px solid #d8d8d8;
}


.header-top{
    font-size: 12px;
    background: #393d49;
    height: 30px;
}

.login-wrap {
    line-height: 18px;
    margin: 0 auto;
}

.login {
    color: #b4b5b8;
    float: right;
    margin-top: 6px;
    line-height: 18px;
}

.login img {
    float: left;
    margin-right: 5px;
    vertical-align: middle;
    width: 18px;
    height: 18px;
}

.breadcrumb {
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    font-size:12px;
    margin:0;
}

.operate-bar {
    text-align: right;
    position: absolute;
    /* width: 500px; */
    top: -25px;
    right: 10px;
    font-size: 13px;
}


.main-wrap {
    position: relative;
}

.operate-td a {
    display: inline-block;
    padding:0 5px;
}

